<h1> Sign up for newspaper subscriptions</h1>

<form action='<%= users_url %>' method='post'>

  <label for='user_name'>Username or E-mail</label>
  <input type='text' name='user[name]' id='user_name' >

  <% counter = 0 %>
  <% Newspaper.all.each_with_index do |np| %>
    <h2> Newspaper name: <%= np.name %></h2>

    <select name='user[subscriptions_attributes][<%= counter %>][subscription_plan_id]'>
      <option> Select an option </option>
      <% np.subscription_plans.each do |sub_plan| %>
        <option 
        value='<%= sub_plan.id %>'>
        $<%= sub_plan.price %> 
        <% if sub_plan.weekly %>
          <%= "weekly" %>
        <% else %>
          <%= "daily" %>
        <% end %>
        </option>



        <%= counter += 1 %>

      <% end %>
      <br>

    </select>
  <% end %>
  <br>
  <br>

  <input type='submit' value='submit'>

</form>

