<!DOCTYPE html>
<html>
<head>
  <title>NewsSubServ</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
  <%= link_to "Log Out #{current_user.name}", session_url, :method => :delete %>
<% else %>
  <%= link_to "Log In", new_session_url, :method => :get %>
<% end %>
<br>
<br>

<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>

<%= yield %>

</body>
</html>
